p{
    width: 500px;
    height:50px;
    text-align: center; /* 文本左右居中 */
    line-height: 50px; /* 文本行高，和标签一样高-上下居中*/
    border: solid 1px red; /* 边框 */
    border-radius: 6px; /* 边框圆角 */
}
div{
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center; /* left / center / right */
    border: blue 1px dashed; /* 边框  solid实线;dashed虚线*/
    box-shadow: #000 5px 5px 5px; /* 边框阴影效果 */
}